body {
  margin: 0;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #40514E;
}

h1 {
  font-size: 5.627rem;
  margin: 50px auto 0 auto;
  font-family: 'Merienda', cursive;
  color: #66BFBF;
}

h2 {
  color: #66BFBF;
  font-family: 'Merriweather', serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Merriweather', serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  color: #555555;
  margin: 50px auto;
  width: 20%;
}

p {
  line-height: 1.5;
}

a{
  color: #11999E;
  font-style: 'Merriweather', serif;
  font-size: 1.5rem;
  margin: 10px 20px;
  padding: 20px 0;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.top-container {
  background-color: #f6f7d4;
  line-height: 2;
  position: relative;
  padding-top: 100px;
}

.middle-container{
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.intro {
  margin: auto;
  width: 30%;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.footer-link {
  color: #11999E;
  word-spacing: 20px;
}

.btn {
  background: #3D94F6;
  background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: 'Merriweather', serif;
  font-size: 20px;
  width: 150px;
  font-weight: 100;
  padding: 10px 15px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}


.skill-row {
  margin: 150px auto 150px auto;
  width: 50%;
  text-align: left;
}

.computer-image {
  float: left;
  margin-right: 30px;
  width: 35%;
}

.chillie-image {
  float: right;
  margin-left: 30px;
  width: 35%;
}

.computer-text {
  font-size: 1.5rem;
}

.chillie-text {
  font-size: 1.5rem;
}

.contact-msg {
  width: 40%;
  margin: 30px auto;
}

.copyright {
  color: #EAF6F6;
  font-size: 1rem;
}
